
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    overflow-x: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    position: relative;
    width: 1200px;
    padding: 0 27px;
    margin: 0 auto;
}

.container::before {
    content: '';
    position: absolute;
    width: 300%;
    height: 100%;
    top:0;
    left:-100%;
    background-color: #849d8f;
    z-index: -11;

}

.button {
    color: inherit;
    border-radius: 100Px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.menu {
    display: flex;
    padding-top: 6px;
    align-items: center;
}

.menu_catalog {
    padding-top: 2px;
    margin-bottom: -5px;
}

.menu_catalog > a {
    padding: 7px 0 0 0;
}

.menu__logo {
    margin-right: 10px;
}

.menu__list {
    display: flex;
    margin: 13px 0 8px 0;
    padding: 0;
    align-items: center;
    list-style: none;
    flex-grow: 1;
}

.menu__list_catalog {
    margin: 0 0 0 0;
}

.menu__list a,
.menu__list button {
    position: relative;
}

.menu__list a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.underline::before {
    content: '';
    position: absolute;
    bottom:5px;
    left:12px;
    width: 80%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.menu__item-1 .underline:before {
    width: 72%;
}

.menu__item-2 .underline:before {
    width: 86%;
}

.menu__item-3 .underline:before {
    width: 79%;
}

.menu__item-1 > a,
.menu__item-2 > a,
.menu__item-3 > a
{
    padding: 6px 13px;
    border-radius: 100Px;
}

.menu__list .underline:hover,
.menu__list .underline:focus
{
    background-color: #f7f6f3;
    color: #323232;
    font-weight: 700;
}

.menu__list .menu__sublist_catalog {
    background-color: #d07058;
    color: #fff;
}

.menu__item-1,
.menu__item-2,
.menu__item-3
{
    padding: 5px 3px 11px 0;
}

.menu__item-4,
.menu__item-5,
.menu__item-6
{
    padding: 0 0 0 10px;
}
/*================= drop menu======================*/
.drop-menu {
    display: none;
    position: absolute;
    bottom: -167px;
    left:-6px;
    min-width: 142px;
    padding:0;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    z-index: 5;
}

.drop-menu__link-5 {
    border-radius: 0 0 5px 5px;
}

.drop-menu a {
    padding: 8px 0 7px 19px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #323232;
}

.drop-menu__link-1 {
    padding: 11px 0 10px 14px;
    margin:0 9px 0 5px;
    border-bottom: 2px solid #d1d0ce;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #323232;
}

.drop-menu__link-2 a {
    padding-top: 11px;
}

.drop-menu__link-5 a {
    padding-bottom: 14px;
}

.drop-menu__link:not(.drop-menu__link_catalog):hover,
.drop-menu__link:focus
{
    background-color: #fbded8;
}

.drop-menu a:active {
    background-color: #f6b5a5;
}

.drop-menu__link_catalog {
    background-color: #d07058;
}

.menu__item-1:hover .drop-menu,
.menu__sublist:focus + .drop-menu,
.drop-menu:hover {
    display: block;
}
/*======================================================*/
.menu__item-1,
.menu__item-4,
.menu__item-5,
.menu__item-6
{
    position: relative;
}

.menu__item-2 {
    min-width: 170px;
}

.menu__item-3 {
    margin-right: auto;
    min-width: 120px;
}

.menu__search {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 8px;
}

.menu__search svg {
    margin-top: 2px;
}

.menu__search_input {
    display: none;
    position: absolute;
    bottom:-82px;
    left:-298px;
    width: 341px;
    height: 84px;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.menu__sublist:active,
.menu__list .underline:active
{
    box-shadow: inset 0 2px 1px #696969;
}

.menu__item-4:hover div,
.menu__search:focus + div,
.menu__search_input:hover,
.menu__search_input:focus
{
    display: block;
}

.menu__item-4:hover .svg-black,
.menu__item-4 .menu__search:focus .svg-black,
.menu__item-5:hover .svg-black,
.menu__item-5 .menu__enter:focus .svg-black,
.menu__item-6:hover .svg-black,
.menu__item-6 .menu__cart:focus .svg-black
{
    fill: #000;
}

.menu__item-4:hover .menu__search,
.menu__search:focus,
.menu__item-5:hover .menu__enter,
.menu__enter:focus,
.menu__item-6:hover .menu__cart,
.menu__cart:focus
{
    background-color: #fff;
    color: #000;
}

.menu__item-6:hover .cart,
.menu__item-6 .menu__cart:focus + .cart,
.cart:hover
{
    visibility: visible;
}

.menu__search_input input {
    padding: 12px;
    width: 100%;
    outline: none;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.menu__search_input input::placeholder {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
/*======== enter ====================*/

.enter {
    display: none;
    position: absolute;
    top:35px;
    left:-173px;
    width: 277px;
    height: 214px;
    padding: 20px 17px 20px 19px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    z-index: 10;
    color: #323232;
}

.enter input {
    width: 100%;
    padding: 11px;
    margin-bottom: 20px;
}

.enter input::placeholder {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.enter__buttons {
    display: flex;
    justify-content: space-between;
}

.enter__buttons button {
    padding: 0 25px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.enter__buttons a {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.menu__item-5:hover .enter,
.menu__enter:focus + .enter,
.enter:hover {
    display: block;
}
/*================== cart window =================*/
.cart {
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 539px;
    height: 242px;
    top:37px;
    right:0;
    padding: 16px 13px 20px 15px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    border-radius: 5px;
    color: #323232;
    z-index: 20;
}

.cart__item {
    display: flex;
    width: 489px;
    align-items: center;
    margin-bottom: 3px;
}

.cart_items {
    border-bottom: 1px solid #cacac7;
    padding-bottom: 6px;
}

.cart__delete {
    position: relative;
    width: 11px;
    height: 11px;
    padding: 0;
    margin-bottom: 3px;
    border: none;
    background-color: transparent;
    font-size: 0;
}

.cart__delete::before,
.cart__delete::after
{
    content: '';
    position: absolute;
    top:5px;
    left:-1px;
    width: 13px;
    height: 1px;
    background-color: #323232;
    transform: rotate(45deg);
}

.cart__delete::after {
    transform: rotate(-45deg);
}

.cart__icon-product img {
    width: 100%;
    height: auto;
}

.cart__icon-product {
    width: 33px;
    height: 33px;
    flex-shrink: 0;
    margin: 0 14px 0 14px;
}

.cart__product-name {
    width: 220px;
    padding-top: 1px;
}

.cart__quantity {
    width: 100px;
    margin: 0 auto 0 27px;
}

.cart__total {
    align-self: flex-end;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 12px;

}

.cart_buy {
    align-self: flex-end;
    padding: 10px 15px;
}

/*==================================*/
.menu__enter,
.menu__cart
{
    padding: 6px 17px 6px 16px;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.menu__cart svg {
    vertical-align: -5px;
    margin-right: 3px;
}

.menu__enter {
    padding: 6px 17px 7px 16px;
}

.menu__enter svg {
    vertical-align: -5px;
    margin-right: 3px;
}

.menu__item-6 a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.schedule {
    text-align: right;
}

.schedule p:first-child {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.schedule p:last-child {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 4px;
}
/*========================= slider ==============================*/
.slider {
    width: 1146px;
    min-height: 529px;
    position: relative;
}

.slider > div:not(:first-child) {
    display: none;
}

.slider__backlight {
    position: absolute;
    top:-155px;
    left:50%;
    transform: translateX(-50%);
    z-index: -10;
}

.slider__ice-cream {
    position: absolute;
    top:-34px;
    left:50%;
    transform: translateX(-50%);
    z-index: -9;
}

.slider__text {
    width: 670px;
    margin: 0 auto;
    text-align: center;
}

.slider__text p {
    padding-top: 275px;
    padding-bottom: 30px;
    margin: 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
}

.slider__text button {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    padding: 10px 40px;
}

.switch {
    position: absolute;
    top:570px;
    left:0;
}

.slider__buttons label {
    position: absolute;
    font-size: 0;
    bottom:0;
    left:0;
}

.toggle::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    bottom:62px;
    left:0;
}

.choose-slide-2::before {
    left:30px;
}

.choose-slide-3::before {
    left:60px;
}

.slider-toggle-1:checked ~ .container .choose-slide-1::before,
.slider-toggle-2:checked ~ .container .choose-slide-2::before,
.slider-toggle-3:checked ~ .container .choose-slide-3::before
{
    background-color: #fff;
}

.slider-toggle-1:checked ~ .container .slider__slide-1,
.slider-toggle-2:checked ~ .container .slider__slide-2,
.slider-toggle-3:checked ~ .container .slider__slide-3
{
    display: block;
}

.slider-toggle-1:checked ~ .container::before {
    background-color: #849d8f;
}

.slider-toggle-2:checked ~ .container::before {
    background-color: #8996a6;
}

.slider-toggle-3:checked ~ .container::before {
    background-color: #9d8b84;
}

.slider-toggle-1:focus ~ .container .choose-slide-1::before,
.slider-toggle-2:focus ~ .container .choose-slide-2::before,
.slider-toggle-3:focus ~ .container .choose-slide-3::before
{
    box-shadow: 0 0 0 4px rgba(99, 122, 209, 0.5);
}

.toggle:hover::before {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
/*================================================================*/
.hot-offer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.hot-offer section {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 560px;
    min-height: 229px;
}

.hot-offer__bg {
    width: 100%;
    position: absolute;
    border-radius: 15px;
    z-index: -1;
}

.hot-offer__title {
    margin: 16px 18px 15px 18px;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}

.hot-offer__text {
    margin: 0 18px 23px 18px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.hot-offer__oder {
    align-self: flex-end;
    margin: 22px 21px;
    padding: 10px 22px;
    text-decoration: none;
}

.red-button {
    border-radius: 100Px;
    border: none;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}

.red-button:hover {
    box-shadow: 0 2px 2px #ac1000;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.red-button:active {
    box-shadow: inset 0 2px 2px #942718;
    background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

/*============================== hits =======================================*/
.assortment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.assortment__item {
    position: relative;
    width: 267px;
    text-align: center;
    z-index: 10;
    margin-bottom: 37px;
}

.assortment__item_5,
.assortment__item_6,
.assortment__item_7,
.assortment__item_8
{
    z-index: 9;
}

.assortment__item_9,
.assortment__item_10,
.assortment__item_11,
.assortment__item_12
{
    z-index: 8;
}

.assortment__item:hover .picture::before,
.assortment__item:hover .assortment__item_button,
.assortment__item_button:focus,
.assortment__item_button:focus + .picture::before

{
    /*display: block;*/
    /*visibility: visible;*/
    opacity: 1;
}

.assortment__item_button {
    /*display: none;*/
    /*visibility: hidden;*/
    opacity: 0;
    position: absolute;
    bottom:-51px;
    left: 0;
    margin-left: 50%;
    padding: 10px 16px;
    transform: translateX(-50%);
    border-radius: 20px;
}

/*.assortment__item::before,*/
.picture::before {
    opacity: 0;
    content: '';
    position: absolute;
    bottom:-74px;
    left:-13px;
    width: 293px;
    height: 405px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.picture {
    min-height: 267px;
    margin-bottom: 8px;
}

.picture img {
    width: 100%;
    height: auto;
}

.hit::after {
  content: url("../img/svg-gllacy/hit.svg");
  position: absolute;
  top:0;
  left:0;
}

.assortment__price {
    position: absolute;
    top:164px;
    left:-1px;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.assortment__currency {
    margin-left: 3px;
}

.assortment__weight {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
}

.assortment__name {
    display: inline;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/*========================================================================*/
.advantages {
    /*margin-top: 38px;*/
    margin-bottom: 39px;
    padding: 5px 21px 25px;
    border-radius: 13px;
    background-color: #f1e6ce;
    background-image: url("../img/waffle_pattern.png") ;
    color: #323232;
}

.advantages__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin: 18px 0 0 0;
}

.advantages__text {
    display: flex;
    flex-wrap: wrap;
}

.advantages__text p {
    position: relative;
    width: 50%;
    margin: 22px 0 0 0;
    padding: 0 0 0 71px;
}

.advantages__text p:nth-child(odd) {
    padding-left: 55px;
}

.advantages__item-1::before {
  content: url("../img/svg-gllacy/ice-cream.svg");
  position: absolute;
  top:-13px;
  left:0;
}

.advantages__item-2::before {
    content: url("../img/svg-gllacy/cow.svg");
    position: absolute;
    top:-13px;
    left:12px;
}

.advantages__item-3::before {
    content: url("../img/svg-gllacy/eco.svg");
    position: absolute;
    top:-13px;
    left:0;
}

.advantages__item-4::before {
    content: url("../img/svg-gllacy/thermometer.svg");
    position: absolute;
    top:-13px;
    left:12px;
}
/*========================================================*/
.info {
    display: flex;
    flex-wrap: wrap;
    color: #323232;
    justify-content: space-between;
}

.news,
.subscribe-border
{
    position: relative;
    width: 560px;
    min-height: 220px;
}

.subscribe-border {
    padding: 5px;
    border-radius: 13px;
    background-image:  repeating-linear-gradient(135deg, white 0, white 10px, #92cdff 10px, #92cdff 20px, white 20px, white 30px, #fe9e90 30px, #fe9e90 40px );
}

.news p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 23px 0 4px 0;
}

.news {
    padding: 0 250px 20px 19px;
    background: #f8f7f4 url(../img/Strawberry-bg.png) no-repeat;
    border-radius: 13px;
}

.news a {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #323232;
    text-decoration: none;
    border-bottom: 2px solid #323232;
}

.subscribe {
    min-height: 210px;
    padding: 13px 22px 15px 22px;
    background-color: #f8f7f4;
    border-radius: 13px;
}

.subscribe__email {
    width: 368px;
    height: 44px;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 20px;
}

.subscribe__email::placeholder {
    padding-left: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
}

.subscribe button {
    margin: 20px 0 0 8px;
    padding: 10px 17px;
}

.map {
    width: 100%;
    min-height: 430px;
    position: relative;
    margin-top: 40px;
    background-image: url("../img/Layer_3.png");
}

.map iframe {
    position: absolute;
    top:0;
    left:-27px;
    z-index: 0;
}

.address {
    position: absolute;
    top:59px;
    right:0;
    width: 302px;
    padding: 32px 25px;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 3;
}

.address p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.address p:first-child {
    padding-right: 100px;
}

.address p:nth-child(3) {
    margin: 19px 0 5px 0;
}

.address .address_bold-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.address .red-button {
    margin-top: 26px;
    padding: 9px 27px;
}
/*================ footer ==================================*/
.footer {
    display: flex;
    padding: 17px 0 22px 0;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-icon {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: 17px 0 0 4px;
    flex-shrink: 0;
}

.social-icon__link {
    opacity: 0.8;
}

.social-icon__link:hover,
.social-icon__link:focus
{
    opacity: 1;
}

.social-icon img {
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.inform {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    justify-content: center;
}

.inform li {
    min-width: 259px;
}

.inform li:nth-child(odd) {
    text-align: right;
    margin-right: 31px;
}

.inform li:nth-child(3) {
    padding-right: 13px;
}

.inform__link {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.inform__suppliers {
    border-bottom:none;
    position: relative;
}

.inform__suppliers::before {
    width: 82%;
    bottom:-1px;
    left:22px;

}

.inform__link:hover,
.inform__link:focus
{
    color: #ffbc9e;
}

.copyright span {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.inform__suppliers {
    position: relative;
}

.inform__suppliers svg {
    vertical-align: middle;
    margin-right: 8px;
}

.inform__suppliers:hover svg path,
.inform__suppliers:focus svg path
{
fill: #ffbc9e;
}

.copyright {
    width: 190px;
    flex-shrink: 0;
    margin-left: 41px;
}

.copyright p {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.copyright__logo {
    width: 108px;
    height: 39px;
}

.copyright__link:hover .copyright__logo path,
.copyright__link:focus .copyright__logo path
{
    fill: #ffbc9e;
}

/*================ modal feedback ====================*/
.feedback {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.feedback-block {
    display: block;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.form-error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}

.feedback__body {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 16px 26px 20px 24px;
    width: 476px;
    height: 443px;
    border-radius: 10px;
    background-color: #f8f7f4;
    color: #323232;
    z-index: 25;
}

.feedback__body h2 {
    margin: 0 0 18px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.feedback__body input {
    width: 267px;
    padding: 13px;
    margin-bottom: 18px;
    border: 1px solid rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
    border-radius: 5px;
}

.feedback__body textarea {
    padding: 10px 13px 17px 13px;
    border-radius: 5px;
    border: 1px solid rgba(178, 178, 178, 0.52);
}

.feedback__body input::placeholder,
.feedback__body textarea::placeholder
{
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.feedback__close {
    position: absolute;
    font-size: 0;
    top:11px;
    right:12px;
    width: 26px;
    height: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.feedback__close::before,
.feedback__close::after
{
    content: '';
    position: absolute;
    top:11px;
    right:2px;
    width: 22px;
    height: 2px;
    background-color: #231f20;
    transform: rotate(45deg);
}

.feedback__close::after {
    transform: rotate(-45deg);
}

.feedback__body .red-button {
    margin: 20px 0 0 290px;
    padding: 10px 24px;
}
/*==========================================================*/
/*====================== catalog ====================================*/
.nav-menu {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.nav-menu_path {
    margin-top: -20px;
}

.nav__link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.nav__link_current {
    pointer-events: none;
}

.nav__link_main,
.nav__link_catalog
{
    padding-right: 7px;
}

.nav__link_main:hover,
.nav__link_main:focus,
.nav__link_catalog:hover,
.nav__link_catalog:focus
{
    color: #ffbc9e;
}

.nav__link_main::after,
.nav__link_catalog::after
{
    content: '»';
    padding-left: 7px;
    color: #fff;
}

.nav__link_main::before,
.nav__link_catalog::before
{
    width: 71%;
    bottom:1px;
    left:0;
}

.sort {
    display: flex;
    flex-direction: column;
    position: relative;
}

.sort::before {
    width: 100%;
    bottom: 0;
    left:0;
}

.sort__bg {
    display: block;
    width: 100%;
    height: 36px;
    border-radius: 100Px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 0;
}

.sort__form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.sort__form > div {
    margin: 0 14px 16px 0;
}

.sort__item-1 label,
.sort__cost-range,
.sort__item-2 h4,
.sort__item-3 h4,
.sort__item-4 h4
{
    display: block;
    margin: 0 0 5px 17px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.nav-menu_path a {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.sort__title {
    margin: 5px 0 27px 0;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}

.sort__item-1 {
    width: 194px;
    position: relative;
}

.sort__select {
    position: relative;
    padding-left: 16px;
    color: inherit;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sort__item-1::after {
    content: '';
    position: absolute;
    top: 34px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 11px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
    z-index: 1;
}

.sort__select::-ms-expand {
    display: none;
}

.sort__item-1:hover .sort__select
{
    color:#323232;
    background-color: #fff;
}

.sort__item-1:hover::after
{
    border-color: #323232 transparent transparent transparent;
    border-width: 7px 5px 0 5px;
    top: 36px;
}

.sort__item-2 {
    width: 220px;
}

.sort__double-range,
.sort__cost-range,
.sort__richness label,
.sort__powder label
{
    position: relative;
}

.sort__double-range::before {
    content: '';
    position: absolute;
    top:16px;
    left:22px;
    width: 176px;
    height: 4px;
    background-color: rgba(248, 247, 244, 0.5);
    /*z-index: 4;*/
}

.sort__cost-range::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left:27px;
    width: 100px;
    height: 4px;
    background-color: #fff;
}

.sort__double-range::after,
.sort__cost-range::after
{
    content: '';
    position: absolute;
    top:9px;
    left:35px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow:inset 0 0 0 8px #fff;
    cursor: pointer;
    z-index: 5;
}

.sort__cost-range::after  {
    top: 9px;
    left:117px;
}

.sort__double-range:hover::after,
.sort__cost-range:hover::after
{
    transform: scale(1.1);
}

.sort__richness,
.sort__powder {
    padding: 8px 17px 0 0;
}

.sort__powder {
    padding-right: 20px;
}

.sort__richness label {
    padding-left: 46px;
}

.sort__powder .sort__label-padding {
     padding-left: 51px;
 }

.sort__richness label::before {
    content: url("../img/svg-gllacy/radio-off.svg");
    position: absolute;
    top:-4px;
    left:13px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.sort__radio:checked + label::before {
    content: url("../img/svg-gllacy/radio-on.svg");
}

.sort__powder label::before {
    content: url("../img/svg-gllacy/checkbox-off.svg");
    position: absolute;
    top:-1px;
    left:17px;
    width: 20px;
    height: 20px;
}

.sort__check:checked + label::before {
    content: url("../img/svg-gllacy/checkbox-on.svg");
}

.sort__powder label {
    padding: 0 0 0 48px;
}

.sort input:not(.double-range) + label {
    opacity: 0.8;
}

.sort input:hover + label,
.sort input:focus + label
{
    opacity: 1;
}

.sort input:not(.double-range):focus + label:before {
    box-shadow: 1px 1px 0 3px #5494fa;
}

.double-range_1:focus ~ .sort__double-range:after,
.double-range_2:focus ~ .sort__cost-range:after
{
    box-shadow: inset 0 0 0 8px #fff, 0 0 0 3px #5494fa;
}

.sort input:disabled + label {
    opacity: 0.4;
}

.sort__accept {
    width: 144px;
    height: 37px;
    margin-top: 21px;
    border: 2px solid #ffffff;
}

.sort__accept:hover,
.sort__accept:focus
{
    background-color: #fff;
    color: #323232;
}

.assortment__item_5 .assortment__name {
     margin-left: 7px;
 }

.assortment__item_9 .assortment__name {
    margin-left: 11px;
}

.assortment__item_10 .assortment__name {
    margin-left: 1px;
}

.assortment_catalog {
    margin-bottom: 43px;
    position: relative;
}
/*================================================*/
.nav-pages {
    align-self: flex-end;
    margin-bottom: 30px;
}

.nav-pages__link {
    width: 26px;
    height: 26px;
    padding: 5px 0 0 0;
    margin-left: 3px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    vertical-align: 5px;
}
.nav-pages__link:not(:focus):hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-pages__link:not(.nav-pages__link_1):not(.nav-pages__link_7):focus,
.nav-pages__link_active
{
    background-color: #fff;
    color: #353535;
}

.nav-pages__link_1,
.nav-pages__link_7
{
    position: relative;
}

.nav-pages__link_1::before,
.nav-pages__link_7::before
{
    content: '';
    position: absolute;
    top:8px;
    left:10px;
    width: 9px;
    height: 9px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
}

.nav-pages__link_1::before {
    border-color: rgba(255, 255, 255, 0.2);
}

.nav-pages__link_7::before {
    transform: rotate(135deg);
    left:7px;
}


@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

