
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    overflow-x: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.blue {
    outline: 1px solid blue;
}
.red {
    outline: 1px solid red;
}
.green {
    outline: 1px solid green;
}
.temp {
    background-color: rgba(255, 0, 0, 0.1);
}
.temp > * {
    outline: 1px dotted #f00;
}
.temp > * > *{
    background-color: rgba(0, 255, 0, 0.1);
}

.container {
    position: relative;
    width: 1200px;
    padding: 0 27px;
    margin: 0 auto;
}

.container::before {
    content: '';
    position: absolute;
    width: 300%;
    height: 100%;
    top:0;
    left:-100%;
    background-color: #849d8f;
    z-index: -11;

}

.button {
    color: inherit;
    border-radius: 100Px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.menu {
    display: flex;
    padding-top: 13px;
    align-items: center;
}

.menu__logo {
    margin-right: 24px;
}

.menu__list {
    display: flex;
    margin: 13px 0 11px 0;
    padding: 0;
    align-items: center;
    list-style: none;
    flex-grow: 1;
}

.menu__list a,
.menu__list button {
    position: relative;
}

.menu__list a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.underline {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*.underline:hover,
.underline:focus*/
.underline
{
    padding: 5px 10px;
    border-radius: 100Px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
    /*background-color: #f7f6f3;*/
    background-color: transparent;
    color: #323232 !important;
}

.menu__item-1,
.menu__item-2,
.menu__item-3
{
    padding: 5px 28px 11px 0;
}

.menu__item-4,
.menu__item-5,
.menu__item-6
{
    padding: 0 0 0 10px;
}
/*================= drop menu======================*/
.drop-menu {
    /*display: none;*/
    position: absolute;
    bottom: -171px;
    left:-20px;
    min-width: 142px;
    padding:0;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    z-index: 5;
}

.drop-menu__link-5 {
    border-radius: 0 0 5px 5px;
}

.drop-menu a {
    padding: 8px 0 7px 19px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #323232;
}

.drop-menu__link-1 {
    padding: 11px 0 10px 14px;
    margin:0 9px 0 5px;
    border-bottom: 2px solid #d1d0ce;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #323232;
}

.drop-menu__link-2 a {
    padding-top: 11px;
}

.drop-menu__link-5 a {
    padding-bottom: 12px;
}

.drop-menu li:not(:first-child):hover,
.drop-menu a:focus,
.selected
{
    background-color: #fbded8;
}

.menu__item-1:hover .drop-menu,
.menu__item-1:focus .drop-menu,
.drop-menu:hover {
    display: block;
}
/*======================================================*/
.menu__item-1,
.menu__item-4,
.menu__item-5
{
    position: relative;
}

.menu__item-2 {
    min-width: 170px;
}

.menu__item-3 {
    margin-right: auto;
    min-width: 120px;
}

.menu__search {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    position: relative;
}

.menu__search::before {
content: url('../img/svg-gllacy/loupe.svg');
position: absolute;
top:8px;
left:8px;
}

.menu__search_input {
    /*display: none;*/
    position: absolute;
    bottom:-82px;
    left:-298px;
    width: 341px;
    height: 84px;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.menu__search:hover ~ div,
.menu__search:focus ~ div,
/*.label-search:focus + div,*/
.menu__search_input:hover,
.menu__search_input:focus
{
    display: block;
}

.menu__search_input input {
    padding: 12px;
    width: 100%;
    outline: none;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.menu__search_input input::placeholder {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
/*======== enter ====================*/

.enter {
    /*display: none;*/
    position: absolute;
    top:35px;
    left:-173px;
    width: 277px;
    height: 214px;
    padding: 20px 17px 20px 19px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    z-index: 10;
    color: #323232;
}

.enter input {
    width: 100%;
    padding: 11px;
    margin-bottom: 20px;
}

.enter input::placeholder {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.enter__buttons {
    display: flex;
    justify-content: space-between;
}

.enter__buttons button {
    padding: 0 25px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.enter__buttons a {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}


/*==================================*/


.menu__enter,
.menu__cart
{
    padding: 7px 17px 7px 44px;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.menu__item-6 a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.menu__enter::before {
content: url("../img/svg-gllacy/entrance.svg");
position: absolute;
top:5px;
left:17px;
}

.menu__cart::after {
content: url("../img/svg-gllacy/basket.svg");
position: absolute;
top:5px;
left:15px;
}

.schedule {
    text-align: right;
}

.schedule p:first-child {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.schedule p:last-child {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 4px;
}
/*========================= slider ==============================*/
.slider {
    width: 1146px;
    min-height: 529px;
    position: relative;
}

.slider > div:not(:first-child) {
    display: none;
}

.slider__backlight {
    position: absolute;
    top:-155px;
    left:50%;
    transform: translateX(-50%);
    z-index: -10;
}

.slider__ice-cream {
    position: absolute;
    top:-34px;
    left:50%;
    transform: translateX(-50%);
    z-index: -9;
}

.slider__text {
    width: 670px;
    margin: 0 auto;
    text-align: center;
}

.slider__text p {
    padding-top: 275px;
    padding-bottom: 30px;
    margin: 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
}

.slider__text button {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    padding: 10px 40px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.switch {
    position: absolute;
    top:570px;
    left:0;
}

.slider__buttons label {
    position: absolute;
    font-size: 0;
    bottom:0;
    left:0;
}

.toggle::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    bottom:62px;
    left:0;
}

.choose-slide-2::before {
    left:30px;
}

.choose-slide-3::before {
    left:60px;
}

.slider-toggle-1:checked ~ .container .choose-slide-1::before,
.slider-toggle-2:checked ~ .container .choose-slide-2::before,
.slider-toggle-3:checked ~ .container .choose-slide-3::before
{
    background-color: #fff;
}

.slider-toggle-1:checked ~ .container .slider__slide-1,
.slider-toggle-2:checked ~ .container .slider__slide-2,
.slider-toggle-3:checked ~ .container .slider__slide-3
{
    display: block;
}

.slider-toggle-1:checked ~ .container::before {
    background-color: #849d8f;
}

.slider-toggle-2:checked ~ .container::before {
    background-color: #8996a6;
}

.slider-toggle-3:checked ~ .container::before {
    background-color: #9d8b84;
}

.slider-toggle-1:focus ~ .container .choose-slide-1::before,
.slider-toggle-2:focus ~ .container .choose-slide-2::before,
.slider-toggle-3:focus ~ .container .choose-slide-3::before
{
    box-shadow: 0 0 0 4px rgba(99, 122, 209, 0.5);
}
/*================================================================*/
.hot-offer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.hot-offer section {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 560px;
    min-height: 229px;
}

.hot-offer__bg {
    width: 100%;
    position: absolute;
    border-radius: 15px;
    z-index: -1;
}

.hot-offer__title {
    margin: 17px 18px;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}

.hot-offer__text {
    margin: 0 18px auto 18px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.hot-offer__oder {
    align-self: flex-end;
    margin: 22px 21px;
    padding: 10px 22px;
    text-decoration: none;
}

.red-button {
    color: #fff;
    border-radius: 100Px;
    border: none;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
/*============================== hits =======================================*/
.our-hits {
    display: flex;
    justify-content: space-between;
}

.our-hits__item {
    position: relative;
    width: 267px;
    text-align: center;
}

.picture {
    min-height: 267px;
    margin-bottom: 8px;
}

.hit::after {
  content: url("../img/svg-gllacy/hit.svg");
  position: absolute;
  top:0;
  left:0;
}

.our-hits__price {
    position: absolute;
    top:164px;
    left:-1px;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
}

.our-hits__currency {
    margin-left: 3px;
}

.our-hits__weight {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
}

.our-hits__name {
    display: inline;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/*========================================================================*/
.advantages {
    margin-top: 38px;
    margin-bottom: 40px;
    padding: 5px 21px 25px;
    border-radius: 13px;
    background-color: #f1e6ce;
    background-image: url("../img/waffle_pattern.png") ;
    color: #323232;
}

.advantages__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 0;
}

.advantages__text {
    display: flex;
    flex-wrap: wrap;
}

.advantages__text p {
    position: relative;
    width: 50%;
    margin: 21px 0 0 0;
    padding: 0 0 0 71px;
}

.advantages__text p:nth-child(odd) {
    padding-left: 55px;
}

.advantages__item-1::before {
  content: url("../img/svg-gllacy/ice-cream.svg");
  position: absolute;
  top:-13px;
  left:0;
}

.advantages__item-2::before {
    content: url("../img/svg-gllacy/cow.svg");
    position: absolute;
    top:-13px;
    left:12px;
}

.advantages__item-3::before {
    content: url("../img/svg-gllacy/eco.svg");
    position: absolute;
    top:-13px;
    left:0;
}

.advantages__item-4::before {
    content: url("../img/svg-gllacy/thermometer.svg");
    position: absolute;
    top:-13px;
    left:12px;
}
/*========================================================*/
.info {
    display: flex;
    flex-wrap: wrap;
    color: #323232;
    justify-content: space-between;
}

.news,
.subscribe
{
    position: relative;
    width: 560px;
    min-height: 220px;
}

.news p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 23px 0 4px 0;
    
}

.news {
    padding: 0 250px 20px 19px;
    background: #f8f7f4 url(../img/Strawberry-bg.png) no-repeat;
    border-radius: 13px;
}

.news a {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #323232;
    text-decoration: none;
    border-bottom: 2px solid #323232;
}

.subscribe {
    background-color: #f8f7f4;
    border-radius: 13px;
    padding: 18px 27px 20px 27px;
}

.subscribe__email {
    width: 368px;
    height: 44px;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 20px;
}

.subscribe__email::placeholder {
    padding-left: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
}

.subscribe button {
    margin: 20px 0 0 8px;
    padding: 10px 17px;
}

.map {
    width: 100%;
    min-height: 430px;
    position: relative;
    margin-top: 40px;
    background-image: url("../img/Layer_3.png");
}

.map iframe {
    position: absolute;
    top:0;
    left:-27px;
    z-index: 0;
}

.address {
    position: absolute;
    top:59px;
    right:0;
    width: 302px;
    padding: 32px 25px;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 3;
}

.address p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.address p:first-child {
    padding-right: 100px;
}

.address p:nth-child(3) {
    margin: 19px 0 5px 0;
}

.address .address_bold-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.address .red-button {
    margin-top: 26px;
    padding: 9px 27px;
}
/*================ footer ==================================*/
.footer {
    display: flex;
    padding: 17px 0 22px 0;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-icon {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: 17px 0 0 4px;
    flex-shrink: 0;
}

.social-icon img {
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.inform {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    justify-content: center;
}

.inform li {
    min-width: 259px;
}

.inform li:nth-child(odd) {
    text-align: right;
    margin-right: 31px;
}

.inform li:nth-child(3) {
    padding-right: 13px;
}

.inform a {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.inform__suppliers {
    position: relative;
}

.inform__suppliers::before {
  content: url("../img/svg-gllacy/heart.svg");
  position: absolute;
  top:2px;
  left:-23px;
}

.copyright {
    width: 190px;
    flex-shrink: 0;
    margin-left: 41px;
}

.copyright p {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

/*================ modal feedback ====================*/
.feedback {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.feedback__body {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    /*margin: 100px auto;*/
    padding: 16px 26px 20px 24px;
    width: 476px;
    height: 443px;
    border-radius: 10px;
    background-color: #f8f7f4;
    color: #323232;
    z-index: 25;
}

.feedback__body h2 {
    margin: 0 0 18px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.feedback__body input {
    width: 267px;
    padding: 13px;
    margin-bottom: 18px;
    border: 1px solid rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
    border-radius: 5px;
}

.feedback__body textarea {
    padding: 10px 13px 17px 13px;
    border-radius: 5px;
    border: 1px solid rgba(178, 178, 178, 0.52);
}

.feedback__body input::placeholder,
.feedback__body textarea::placeholder
{
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.feedback__close {
    position: absolute;
    font-size: 0;
    top:0;
    right:0;
    border: none;
    outline: none;
    background-color: transparent;
}

.feedback__close::before {
    content: '';
    position: absolute;
    top:23px;
    right:12px;
    width: 22px;
    height: 2px;
    background-color: #231f20;
    transform: rotate(45deg);
}

.feedback__close::after {
    content: '';
    position: absolute;
    top:23px;
    right:12px;
    width: 22px;
    height: 2px;
    background-color: #231f20;
    transform: rotate(-45deg);
}

.feedback__close:focus::before,
.feedback__close:focus::after
{
    outline: 1px solid rgba(87, 118, 210, 0.65);
    outline-offset: 2px;
}

.feedback__body .red-button {
    margin: 20px 0 0 290px;
    padding: 10px 24px;
}
/*==========================================================*/